<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>


<section id="home" class="main-home parallax-section">
    <video poster="" id="bgvid" playsinline autoplay muted loop>
        <source src="images/dsm.mp4" type="video/mp4">
    </video>

 <div class="overlay">
 </div>
 <div id="particles-js">
 </div>
 <div class="container">
     <div class="row">
         <div class="col-md-12 col-sm-12">

             <h1> <span class="green">D</span>IRECT <span class="yellow">S</span>ERVICES</h1>

             <h4> Direct Services Дайрект Сървисиз ООД e българска компания за аутсорс услуги с дялово участие на ANY Security Printing Company. Стремежът за развитие и фокусът върху клиентските потребности са в основата на нашия бизнес модел. Предлагаме
                 комплексни решения - от анализа до финалния продукт, във всяко едно от следните направления - директен мейлинг, персонализиран и транзакционен печат, обработка на формуляри, дигитализация на архиви, печат на книги, банкови карти,
                 PIN пликове, eлектронни книги, картови технологии.
             </h4>
             <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
         </div>

     </div>
 </div>
</section>

<!-- Blog Section -->


<section id="blog">
 <div class="container">
     <div class="row">

         <div class="col-md-offset-1 col-md-10 col-sm-12">

             <div class="blog-post-thumb">
                 <h3> Ние съживяваме вашите архиви</h3>
                 <div class="blog-post-image">
                     <a href="single-post.html">
                         <img src="images/dsArhivi.jpg" class="img-responsive" alt="Blog Image">
                     </a>
                 </div>
                 <div class="blog-post-des">
                     <p>Дигитализацията на архиви е едно от най-развитите ни направления. Изградили сме собствена система за работа с електронния архив, а високо квалифицираният екип, оборудването и фирменото know-how осигуряват висока призводителност. Ежемесечно сканираме и индексираме стотици хиляди документи.</p>
                     <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                 </div>
             </div>

             <div class="blog-post-thumb">
                 <div class="blog-post-video">
                     <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/Ww2HqiR5UwU?modestbranding=1&amp" allowfullscreen></iframe>
                     </div>
                 </div>
                 <div class="blog-post-title">
                     <h3><a href="single-post.html">Nam interdum maximus dolor faucibus</a></h3>
                 </div>
                 <div class="blog-post-format">
                     <span><a href="#"><img src="../../public/images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                     <span><i class="fa fa-date"></i> May 30, 2017</span>
                     <span><a href="#"><i class="fa fa-comment-o"></i> 63 Comments</a></span>
                 </div>
                 <div class="blog-post-des">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                     <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                 </div>
             </div>

             <div class="blog-post-thumb">
                 <div class="blog-post-image">
                     <a href="single-post.html">
                         <img src="images/blog-image3.jpg" class="img-responsive" alt="Blog Image">
                     </a>
                 </div>
                 <div class="blog-post-title">
                     <h3><a href="single-post.html">The ingredients that make a great burger</a></h3>
                 </div>
                 <div class="blog-post-format">
                     <span><a href="#"><img src="../../public/images/author-image2.jpg" class="img-responsive img-circle"> Leo Dennis</a></span>
                     <span><i class="fa fa-date"></i> April 18, 2017</span>
                     <span><a href="#"><i class="fa fa-comment-o"></i> 124 Comments</a></span>
                 </div>
                 <div class="blog-post-des">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                     <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                 </div>
             </div>

             <div class="blog-post-thumb">
                 <div class="blog-post-image">
                     <a href="single-post.html">
                         <img src="../../public/images/blog-image4.jpg" class="img-responsive" alt="Blog Image">
                     </a>
                 </div>
                 <div class="blog-post-title">
                     <h3><a href="single-post.html">Vestibulum vel mauris nec ex tempus</a></h3>
                 </div>
                 <div class="blog-post-format">
                     <span><a href="#"><img src="../../public/images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                     <span><i class="fa fa-date"></i> March 12, 2017</span>
                     <span><a href="#"><i class="fa fa-comment-o"></i> 256 Comments</a></span>
                 </div>
                 <div class="blog-post-des">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                     <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                 </div>
             </div>
         </div>

     </div>
 </div>
</section>

<script src="./javascripts/jquery-1.10.2.js"></script>
<script src="./../javascripts/bootstrap.js"></script>
<script src="./../javascripts/jquery.js"></script>
<script src="./../javascripts/bootstrap.min.js"></script>
<script src="./../javascripts/particles.min.js"></script>
<script src="./../javascripts/app.js"></script>
<script src="./../javascripts/jquery.parallax.js"></script>
<script src="./../javascripts/smoothscroll.js"></script>
<script src="./../javascripts/custom.js"></script>