
<div clas="row">
    <div class="col-sm-4">
        <h1>Basic</h1>
        <ul>
            <li>News</li>
            <li><a href="/questionsAnswers">Questions/Answers</a></li>
            <li>UserActivity</li>
        </ul>

    </div>

    <div class="col-sm-8">
        <h1>Test</h1>
        <h1>Test</h1>

    </div>
</div>

<div class="row"></div>