
<div clas="row">
    <div class="col-sm-3">
        <h1>Basic</h1>
        <ul>
            <li><a href="/newsCreated">News</a></li>
            <li><a href="/questionsAnswers">Questions/Answers</a></li>
            <li><a href="/userActivity">UserActivity</a> </li>
        </ul>

    </div>

    <div class="col-sm-9">


        <canvas id="myNewsChart"></canvas>

    </div>
    <div id="data3" class="data3" style="display: none" >{{output}}</div>
</div>
<script>charNewsVisual()</script>
<div class="row"></div>
