
<div class="container-fluid statsCss">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <h2>Статистики</h2>
            <ul>
                <li><a href="/stats/newsCreated">Новини</a></li>
                <li><a href="/stats/questionsAnswers">Въпроси/Отговори</a></li>
                <li><a href="/stats/userActivity">Потребителска активност</a></li>
            </ul>
            {{#if user.admin}}
                <h2>Admin</h2>
                <!--add Admin functionality-->
                <ul>
                    <li><a href="/stats/logBrowser">Лог</a></li>
                </ul>
            {{/if}}

        </div>
        <div class="col-xs-12 col-sm-9">

            <canvas id="myNewsChart"></canvas>

        </div>
        <div id="data3" class="data3" style="display: none">{{output}}</div>

    </div>

    <script>
        $(document).ready(charNewsVisual());
    </script>
</div>