
<div clas="row">
    <div class="col-sm-3">
        <h1>Basic</h1>
        <ul>
            <li>News</li>
            <li><a href="/questionsAnswers">Questions/Answers</a></li>
            <li>UserActivity</li>
        </ul>

    </div>

    <div class="col-sm-9">



        <canvas id="myChart"></canvas>


    </div>
    <div id="data" class="data" >{{output}}</div>
</div>
<script>charVisual()</script>
<div class="row"></div>
