<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <form action="#">

                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <textarea style="overflow:hidden" rows="4" cols="75">{{this.content}}
                        </textarea>
                    <br>

                    <small class="author">
                        {{this.author.fullName}}
                    </small>

                    <div>
                        <div class="pull-right">

                            <a class="btn btn-primary"  href="/newsCreation/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </div>
                </article>
                </form>
            </div>
        {{/each}}
    </div>
</div>
