<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12" >

                <div class="blog-post-thumb" style="margin-bottom: -7%">
                    <h3>Дигитален печат</h3>
                        <p>Развитието на технологиите през последните години наруши вековната хегемония на офсетовия печат. С всяка изминала година дигиталните принтери заемат пазарни пространства и създават нови, доскоро невиждани възможности за бизнес. Основните предимства на дигиталния печат са:</p>
                </div>

                <div class="blog-post-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/3jUTc1vhu9c" ></iframe>
                    </div>
                </div>
                <div class="blog-post-thumb">

                    <div class="blog-post-des">
                        <ul>
                            <li style="text-align: justify;"><p>„Print on demand“ (печат при необходимост) концепция.</p></li>
                            <li style="text-align: justify;"><p>Възможност за отпечатване на къси тиражи или единични екземпляри.</p></li>
                            <li style="text-align: justify;"><p>Унифицирана цена, слабо зависима от размера на тиража.</p></li>
                            <li style="text-align: justify;"><p>Добро качество на печат, еднакво за целия тираж.</p></li>
                            <li style="text-align: justify;"><p>Разнообразие от медии и размери на печатното изделие.</li>
                            <li style="text-align: justify;"><p>Възможност за персонализация и индивидуалност на всеки отделен отпечатък.</p></li>
                            <li style="text-align: justify;"><p>Ниски разходи за подготовка.</li>
                        </ul>
                        <p>Тexнoлoгичното ниво и модерното оборудване ни позволяват да предложим на своите клиенти максимално изгодни и гъвкави условия за изработка на материали, печат, пликоване и разнос на фaктури, извeстия, извлeчeния oт смeтки и всякакви други бизнес документи.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <table>
                    <tr>
                        <td>
                            <div class="blog-post-image">
                                <img src="https://static1.squarespace.com/static/57a35639f7e0ab51c83e4f3c/t/57c977bc8419c2bf60abe1e4/1472821196088/?format=500w" class="img-responsive" alt="Blog Image" style="width: 90%">
                            </div>
                        </td>
                        <td>
                            <div class="blog-post-des">
                                <h3>Транзакционен печат</h3>
<p>Комплексна услуга за обработка и трансформация на електронна информация върху хартиен носител. Крайната цел е бързо отпечатване на голям обем индивидуално персонализирани и различни по съдържание документи</p>
                                <a href="/services/lettersProduction" class="btn btn-default">Вижте повече</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
