<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                    <h3>Мейлинг услуги</h3>
                    <table>
                        <tr>
                            <td>
                                <div class="blog-post-image">
                                    <img src="https://s-media-cache-ak0.pinimg.com/originals/5f/92/96/5f9296f0364ebfdb00b594fe368768ab.gif" class="img-responsive" alt="Blog Image" style="width: 70%;" >
                                </div>
                            </td>
                            <td>
                                <div class="blog-post-des">
                                    <p style="margin-left: 0%">Независимо дали сте малка фирма и планирате мейлинг кампания или сте най-големия доставчик на комунални услуги, ние можем да поемем цялостното изпълнение на проекта. От обработката на базите данни, с които разполагате, през производството на пощенските пликове, печата на променливи данни, пликоването, до разноса до получателите.</p>
                                </div>
                        </tr>
                    </table>
                    <div class="blog-post-des">
                        <a href="/services/meiling" class="btn btn-default">Вижте повече</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                    <h3>Дигитален Печат</h3>
                    <table>
                        <tr>
                            <td>
                    <div class="blog-post-image">
                        <img src="http://arasanganesanpoly.org/images/printing/Press1.gif" class="img-responsive" alt="Blog Image" style="width:80%;">
                    </div>
                    </td>
                            <td>
                    <div class="blog-post-des">
                        <p style="margin-left: 0%">Развитието на технологиите през последните години наруши вековната хегемония на офсетовия печат. С всяка изминала година дигиталните принтери заемат пазарни пространства и създават нови, доскоро невиждани възможности за бизнес.</p>
                    </div>
                    </tr>
                </table>
                    <div class="blog-post-des">
                        <a href="/services/digitalPrint" class="btn btn-default">Вижте повече</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>